.searchbox {
  background-color: black;
  padding: 10px;
  box-sizing: border-box;
}

.searchbox input {
  width: 20%;
  height: 30px;
  margin: 0 10px;
}

.alertSpan {
  color: red;
}

.modal {
  width: 25%;
  background-color: rgb(136, 134, 134);
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.modalShadow {
  position: absolute;
  background-color: rgb(8 8 236 / 56%);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.modal input,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}
button {
  width: 20%;
  padding: 5px 10px;
  margin: 10px 20px;
}
